{% extends './header.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-3 pt-2">
                    <h5>Contacts</h5>
                </div>
                <div class="col-9">
                    <div class="d-flex flex-row-reverse">
                        <a href="add">
                            <button class="btn btn-dark">
                                <i class="fas fa-plus"></i>
                                Add User
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% for contact in contacts %}
                {{contact}}
            {% empty %}
                <h5 class="text-center">No contacts added</h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}