{% extends './header.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-light">
            <div class="row">
                <div class="col-3 pt-2">
                    <h5>Contacts</h5>
                </div>
                <div class="col-9">
                    <div class="d-flex flex-row-reverse">
                        <a href="add">
                            <button class="btn btn-dark">
                                <i class="fas fa-plus"></i>
                                Add User
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Phone Type</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                <tr>
                    <th scope="row">{{contact.firstname}}</th>
                    <td>{{contact.lastname}}</td>
                    <td>{{contact.contact}}</td>
                    <td>{{contact.contacttype}}</td>
                    <td>
                        <a class="btn btn-danger text-white" href="{% url 'delete_contact' contact.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No contacts added</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}